body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
}

a {
    text-decoration: none;
    color:#e5e7eb;
}

ul {
    list-style-type: none;
    gap: 20px;
}

.header,.footer {
    display: flex;
    background-color: #1F2937;
    color: #e5e7eb;
}

.header {
    justify-content: space-between;
    padding-right: 30px;
}

.logo {
    width:30px;
    height: auto;
    margin: 20px;
}

.header-links {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 14px;
}

.block-1 {
    display: flex;
    background-color: #1F2937;
    color: #e5e7eb;
    justify-content: center;
    gap: 60px;
    padding: 50px;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
}

h1 {
    color: #f9faf8;
}

#bl1-txt {
    max-width: 400px;
    margin-top: 10px;
}

.top-button {
    width: 120px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #3882f6;
    border-radius: 10px;
    border-width: 0px;
    font-size: 14px;
    font-weight: 700;
}

.block-1-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bl1-img {
    width: 300px;
    height: auto;
    border-radius: 3px;
}

.block-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 95px;
}

h2 {
    text-align: center;
    margin-top: 40px;
    color: #1F2937;
}

.container {
    display: flex;
    justify-content: center;
    margin: 40px;
    gap: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info img {
    width: 100px;
}

.info .text {
    text-align: center;
    color: #1F2937;
    width: 200px;
}

.block-3 {
    background-color: #e5e7eb;
    margin: -10px;
    padding: 150px;
}

.quote {
    font-style: italic;
    font-size: 24px;
    font-family: "Lucida Handwriting", cursive, serif;
    margin: 0px 100px;
}

.quoted {
    font-weight: 600;
    text-align: end;
    font-family: monospace;
}

.block-4 {
    display: flex;
    background-color:#3882f6;
    color: white;
    margin: 150px 80px;
    padding: 30px;
    gap: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.cta-text {
    width: 400px;
}

.bottom-button {
    display: flex;
    background-color: #3882f6;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    color: white;
    border-radius: 10px;
    height: 30px;
    padding: 10px 30px;
    align-items: center;
    font-weight: 600;
}

.footer {
    display: flex;
    justify-content: center;
    margin: -10px;
    font-style: italic;
}